{% extends "index.html" %}

{% block title %}
Convert VAMDC-XSAMS format with an XSL-stylesheet
{% endblock %}
{% block headline %}
Convert VAMDC-XSAMS format with an XSL-stylesheet
{% endblock %}


{% block content %}
<div style="font-size: 1.2em">
<p>This tool (<a href="https://github.com/VAMDC/Consumers">source code</a>) takes data in XSAMS format and applies<br/>
an XSLT-transformation. Which stylesheet is used depends<br/>
on the url after <em>/applyXSL/</em>.</p>

<p>You can give the input data <strong>either</strong> by uploading a file or pasting a URL here:</p>

<form enctype="multipart/form-data" action="./service" method="post">
{% csrf_token %}
{{  conversion.as_p }}
<p><input type="submit" value="Run transformation" /></p>
</form>
</div>
{% endblock %}

