<!DOCTYPE html>
<html class="" lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' id='vamdc-style-css'  href='{{ STATIC_URL }}vamdc_files/style.css' type='text/css' media='all' />
<title>{% block title %}VAMDC{% endblock %}</title>
{% block addheader %}{% endblock %}
</head>
<body class="page page-template">
<div class="body">
	<div class="header">
		<a href="http://vamdc.org/" class="site-logo">
			<img src="{{ STATIC_URL }}vamdc_files/site-logo-223x68.png" alt="VAMDC Consortium">
		</a>
		
	</div>
{% block topmenu %}
	<div class="top-menu">
		<div class="menu-menu-principal-container">
            <ul id="menu-menu-principal" class="menu">
</ul></div>	</div>
{% endblock %}

	<div class="main-wrapper">		
	<div class="main-content-1">
	<p class="page-main-title">
		{% block headline %}VAMDC Processor{% endblock %}
	</p>

{% block content %}
{% endblock %}
    
	
</div>


			</div>
			
		</div>
</body></html>
